*.exe

output

*.dSYM
main.exe
main
# c++ gitignore

*.o

*.a

*.so

*.dll

*.lib

*.exp

# c# gitignore

*.suo

*.user

*.userosscache

*.sln.docstates

*.unityproj

*.pidb

*.booproj

*.svd

*.pdb

*.mdb

# c++ gitignore

*.ilk

*.log

*.pch

*.tlog

*.lastbuildstate

# c++ gitignore

*.ipch

*.aps

*.ncb

*.opendb

*.opensdf

*.sdf

*.cachefile

*.VC.db

*.VC.VC.opendb

*.VC.VC.opendb

*.VC.VC.opendb

# c# gitignore

*.Generated.cs

*.designer.cs

*.generated.cs

*.designe
